
h1{
	font-style: helvetic;
	font-size: 175%
}

*{box-sizing: border-box
}

div{border: 1px solid black;
height: 100px
}

#box1{ background-color: purple;
	font-size: 125%
}

#box2{
	background-color: red;
	font-size: 125%
}

#box3{
	background-color: yellow;
	font-size: 125%
}
#pollo{
	background-color: gray;
	overflow: auto

}

#carnes{
	background-color: gray;
	overflow: auto;
}
#sushi{ background-color: gray;
overflow: auto;
 }




